#interactive{
    font-family:verdana;
}
#btn_openAdd{
    float:left;
    width:100px;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:20px;
    background-color:gray;
    padding:5px;
    
}
#editContainer{
    width:15%;
    float:left;
    max-width:250px;
    font-size:11px;
}
#editBox,#searchBox,#tweetBox{
    float:left;
    width:90%;
    border:1px solid #e3e3e3;
    padding:5%;
    margin-bottom:10px;
}
#editContainer h3{
    margin-top:5px;
    margin-bottom:10px;
}
h3 span{
    font-size:11px;
    font-weight:normal;
}
#searchBox{
    display:none;
}
.parameters{
    float:left;
}
.parameters div{
    padding:5%;
    border:1px solid #e3e3e3;
    margin-bottom:5px;
    float:left;
    width:90%;
    }
    .parameters .noEdit{
        background-color:#e3e3e3;
        margin-left:5%;
        width:85%;
    }
#btn_add{
    background-color:gray;
    padding:5%;
    color:white;
    text-align:center;
    cursor:pointer;
    float:left;
    width:90%;
}
#btn_add:hover{
    background-color:blue;
}

/*table*/
#rightSide{
    padding-top:10px;
    margin-bottom:10px;
    position:absolute;
    left:16.5%;
    top:0px;
    width:84%;
}
.victim{
    font-size:10px;
    width:100%;
    float:left;
}
#tableHeads{
    margin-left:30px;
    font-size:10px;
    width:100%;
}
input[disabled='disabled'] {
    color:black;
}
input {
    background-color:white;
    border:1px solid #bdbdbd;
    color:blue;
}
.property,.tableHead{
    border-right:1px solid #e3e3e3;
    height:20px;
    float:left;
    width:87px;
    padding:5px;
    overflow:hidden;
    border-top:1px solid #e3e3e3;
}
    .tableHead{
        line-height:20px;
    }
    .tableHead:hover{
        background-color:#e3e3e3;
        cursor:pointer;
    }
    .tableHead.date{
        border-left:1px solid #e3e3e3;
    }
    .property input{
        line-height:20px;
        width:87px;
        padding:0px;
        margin:0px;
        border:none;
    }
    #list{
        margin-top:10px;
    }
    #list .gender, #list .state{
        width:20px;
    }
    #list .age{
        width:25px;
    }
    #list .lat,#list .lng{
        width:22px;
    }
    #list .property.note, .tableHead.note{
        width:30%;
    }
    #list input.note{
        width:100%;
    }
    #editContainer input.age{
        width:35px;
    }
    #editContainer input.gender{
        width:15px;
    }
    .property.lat input, .property.lng input{
        font-size:8px;
    }
    .property input.url:disabled{
        cursor:pointer;
    }
    .property input.url:disabled:hover{
        color:blue;
        text-decoration:underline;
    }
    #list .ageGroup{
        width:30px;
    }
    #list div.date{
        width:90px;
    }
    #list input.date{
        width:65px;
    }
    #list .date{
        font-size:10px;
    }
    #list .date span, .parameters .little{
        line-height:20px;
        color:gray;
    }
    .parameters .date{
        width:70px;
    }
    .parameters .little{
        margin-left:5px;
    }
    .parameters .ageGroup{
        width:40px;
    }
    
.property:hover{
    cursor:pointer;
}
.saveRow.disabled{
    opacity:.5;
}
.editRow{
    background:url('graphics/pencil.png') center no-repeat;
}
.deleteRow{
    background:url('graphics/trash.png') center no-repeat;
}
.saveRow{
    background:url('graphics/disk.png') center no-repeat;
}
.copyRow{
    background:url('graphics/copy.png') center no-repeat;
}
.historyRow{
    background:url('graphics/history.png') center no-repeat;
}
.tweetRow{
    background:url('graphics/icon_tweet.png') center no-repeat;
}
.tweetRow.tweeted{
    background:url('graphics/icon_tweet_gray.png') center no-repeat;
}
.deleteRow,.editRow,.saveRow,.copyRow,.tweetRow,.historyRow{
    border-top:1px solid #e3e3e3;
    cursor:pointer;
    float:left;
    height:20px;
    width:20px;
    padding:5px;
    border-right:1px solid #e3e3e3;
}
    .deleteRow:hover{
        background-color:#ffbaba;
        color:white;
    }
    .editRow:hover{
        background-color:#bac0ff;
        color:white;
    }
    .saveRow:hover{
        background-color:yellow;
    }
    .copyRow:hover{
        background-color:#baffba;
    }
    .tweetRow:hover{
        background-color:#bfe1ff;
    }
    .tweetRow.tweeted:hover{
        background-color:gray;
    }
    .historyRow:hover{
        background-color:#adfcff;
    }

#btnGroup{
    float:left;
    margin-left:20px;
}
#btnGroup div{
    float:left;
    margin-right:10px;
}
#btnGroup .btn{
    border-top:1px solid #e3e3e3;
    border-left:1px solid #e3e3e3;
    border-right:1px solid #e3e3e3;
    padding:4px;
    cursor:pointer;
    color:gray;
    opacity:.5;
    line-height:15px;
}
#btnGroup .btn.active{
    color:black;
    opacity:1;
}
.btn img{
    margin-right:5px;
    height:15px;
}
.searchMode{
    display:none;
}
#btn_nextPage,#btn_previousPage{
    display:none;
    float:left;
    text-align:center;
    background-color:#e3e3e3;
    margin-top:10px;
    padding:5px;
    cursor:pointer;
    margin-bottom:50px;
}
#btn_nextPage:hover,#btn_previousPage:hover{
    background-color:gray;
    color:white;
}
#btn_previousPage{
    margin-right:20px;
}
#loaderImage{
    margin-left:100px;
    vertical-align:middle;
    margin-right:10px;
}
#loader{
    line-height:100px;  
}
#tweetBox{
    display:none;
}
    #tweetBox h6{
        margin:0px;
        text-align:center;
        font-weight:normal;
        font-size:14px;
    }
    #tweetBox textarea{
        height:40px;
        padding:5px;
        width:210px;
    }
    #tweetshare{
        margin-top:10px;
        float:left;
        border:1px solid #e3e3e3;
        padding:3px;
        cursor:pointer;
    }
    #tweetshare:hover{
        background-color:#e3e3e3;
    }
    #tweetshare p{
        float:left;
        margin:0px 5px 0px 0px;
    }
    #tweetshare img{
        float:left;
        width:20px;
        vertical-align:middle;
        margin-right:5px;
    }
#searchDescription{
    font-size:10px;
    margin:0px;
}
#searchDescription span{
    background-color:#e3e3e3;
    cursor:pointer;
}
#searchDescription span:hover{
    color:gray;
}
#rightSide h3{
    margin:0px;
}
#userInfo{
    width:920px;
    font-size:10px;
    font-family:verdana;
    width:100%;
    text-align:right;
    position:absolute;
    top:0px;
    right:0px;
    z-index:2;
}
.btn_reset{
    color:gray;
    float:right;
    cursor:pointer;
}
.btn_reset:hover{
    color:black;
}
.changes{
    float:left;
    width:900px;
    padding:10px;
}
.changes p{
    font-size:10px;
    line-height:20px;
}
.change span{
    font-weight:bold;
    background-color:#e3e3e3;
    padding:3px;
}
.btn_revert{
    color:red;
    cursor:pointer;
}
.btn_revert:hover{
    color:blue;
}
#tooltip{
    position:absolute;
    background-color:rgb(255,255,255);
    background-color:rgba(255,255,255,0.8);
    font-family:verdana;
    width:200px;
    font-size:11px;
    border:1px solid gray;
    padding:10px;
    box-shadow:3px 3px 3px #c7c7c7;
}
#tweet_checkbox{
    margin:0px 5px 0px 0px;
}